@model TaxCalculationRequestViewModel
@{
    ViewData["Title"] = "Calculate Tax";
}

<div>
    <h2>Calculate Individual Tax</h2>
    @using (Html.BeginForm())
    {
        <div class="mb-2">
            @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "form-label" })
            @Html.DropDownListFor(model => model.PostalCode, new SelectList(Model.PostalCodes, "Value", "Text"), htmlAttributes: new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>
        <div class="mb-2">
            @Html.LabelFor(model => model.AnnualIncome, htmlAttributes: new { @class = "form-label" })
            @Html.TextBoxFor(model => model.AnnualIncome, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AnnualIncome)
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    }
</div>